<h1>Create a Mower.</h1>
<hr>

<form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="mowerForm">
  <div>
    <div>
      <mat-form-field>
        <input matInput placeholder="MowerName" formControlName="MowerName" type="MowerName" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="MowerCity" formControlName="MowerCity" type="MowerCity" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="MowerService" formControlName="MowerService" type="MowerService" required/>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button class="nav-btn" color="primary" type="submit">Add Mower</button>
</form>

<a mat-button routerLink="/mowers">Back to List</a>