<h1>Client-Index</h1>
<a mat-raised-button color="primary" routerLink="/clients/create">Create New</a>
<hr>

<div class="panel">
  <mat-table #table [dataSource]="dataSource">
    
    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef class="matColumnSize"></mat-header-cell>
      <mat-cell *matCellDef="let client" class="matColumnSize"> 
        <i class="material-icons" routerLink="/clients/detail/{{client.ClientId}}">library_books</i>
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="ClientId">
      <mat-header-cell *matHeaderCellDef> ClientId </mat-header-cell>
      <mat-cell *matCellDef="let client"> {{client.ClientId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ClientName">
      <mat-header-cell *matHeaderCellDef> ClientName </mat-header-cell>
      <mat-cell *matCellDef="let client"> {{client.ClientName}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="ClientCity">
      <mat-header-cell *matHeaderCellDef> ClientCity </mat-header-cell>
      <mat-cell *matCellDef="let client"> {{client.ClientCity}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="ClientNeeds">
      <mat-header-cell *matHeaderCellDef> ClientNeeds </mat-header-cell>
      <mat-cell *matCellDef="let client"> {{client.ClientNeeds}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let client">
        <i mat-icon class="material-icons orange" color="warn" routerLink="/clients/edit/{{client.ClientId}}">edit</i>
        <i class="material-icons red" routerLink="/clients/delete/{{client.ClientId}}">delete</i>
      </mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>
  </mat-table>
</div>
