<mat-toolbar color="primary">
  <span>LawnScape </span>
  <span class="example-fill-remaining-space"></span>
  <button mat-raised-button class="nav-btn" routerLink="/register">Register</button>
  <button mat-raised-button class="nav-btn" routerLink="/login">Login</button>
  <button mat-raised-button class="nav-btn" routerLink="clients">Clients</button>
  <button mat-raised-button class="nav-btn" routerLink="mowers">Mowers</button>
  <button mat-raised-button class="nav-btn" routerLink="contracts">Contracts</button>
</mat-toolbar>