<h1>Create a Client.</h1>
<hr>

<form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="clientForm">
  <div>
    <div>
      <mat-form-field>
        <input matInput placeholder="ClientName" formControlName="ClientName" type="ClientName" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="ClientCity" formControlName="ClientCity" type="ClientCity" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="ClientNeeds" formControlName="ClientNeeds" type="ClientNeeds" required/>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button class="nav-btn" color="primary" type="submit">Add Client</button>
</form>

<a mat-button routerLink="/clients">Back to List</a>